* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.mainContainer {
  background: #d2d2d2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pitchContainer {
  height: 87.5rem;
  width: 50.85rem;
  background: #cc6a58;
  border-radius: 30%;
}

.pitch {
  background: #427c44;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(40, 200, 125, 0.25) 5px, rgba(40, 200, 125, 0.25) 1.8rem), repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(40, 200, 125, 0.25) 5px, rgba(40, 200, 125, 0.25) 1.8rem);
  border: white 2px solid;
  height: 52.5rem;
  width: 34rem;
  margin: 1rem;
  position: relative;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex--two-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.half {
  height: 50%;
  width: 100%;
}

.topHalf {
  border-bottom: 1px solid white;
}

.topPenaltyArea {
  position: absolute;
  height: 9rem;
  width: 22rem;
  position: absolute;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  top: 0;
  left: 6rem;
}

.topSixYardBox {
  height: 3rem;
  width: 6rem;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  position: absolute;
  top: 0;
  left: 14rem;
}

.centerCircle {
  height: 10rem;
  width: 10rem;
  border: 1px solid white;
  border-radius: 100%;
  position: absolute;
  top: 21.25rem;
  left: 12rem;
}

.bottomHalf {
  border-top: 1px solid white;
}

.bottomPenaltyArea {
  position: absolute;
  height: 9rem;
  width: 22rem;
  position: absolute;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  bottom: 0;
  left: 6rem;
}

.bottomSixYardBox {
  height: 3rem;
  width: 6rem;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  position: absolute;
  bottom: 0;
  left: 14rem;
}

.lineupContainer {}
.firstEleven {}
.bench {}
